<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
  
  <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/"><img id="logo" src="logo.png" alt="Logo instituto"></a>
  <h1 id="titulo">ALTA PARTICIPANTES</h1>
  
  
</header>

<br>
<br>
<br>
<br>
<br>
<br>

<div id="formulario">
  <h1>Individual
  </h1>

  <form action="pagina-grupo.html" method="get">
    <div class="opciones">
      <label>
        <br>
        <a id="grupo" href="altaparticipantes.grupo.html">¿Estás en grupo? Click aquí</a>
        <br>
<br>
      </label>
      <label>
   
      
    </div>

    <select>
      
        <option value="1ESO">1º de ESO</option>
        <option value="2ESO">2º de ESO</option>
      
      
    </select>

    <br>

    <input type="text" placeholder="Nombre y apellidos">

    <div class="botones">
      <button type="button" onclick="window.history.back()">Atrás</button>
      
      <button type="submit">Enviar</button>

    </div>

  </form>
</div>




</body>
</html>
