<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Búsqueda Participantes</title>
  <link rel="stylesheet" href="style.css" > 
</head>
<body>
  <header>
    <img src="logo.png" alt="Logo" id="logo"> 
    <h1 id="titulo">BUSQUEDA PARTICIPANTES</h1>
    <div id="botones">
      <button onclick="location.href='index principal.html'">Inicio</button>
      <button onclick="window.history.back()">Atrás</button>
    </div>
  </header>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>







  <main>
    <div id="formulario">
      <form action="busquedahecha.html" method="GET"> <!-- Añade tu URL de destino -->
        <h2>Curso educativo</h2>
        <select name="curso" required> <!-- Añade 'name' para identificar el dato -->
          <option value="" disabled selected>Seleccione un curso</option>
          <option value="1ESO">1ºESO</option>
          <option value="2ESO">2ºESO</option>
        </select>
        <button type="submit">Enviar</button> <!-- Botón dentro del formulario -->
      </form>
    </div>
  </main>
</body>
</html>