<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Competición Deportiva</title>
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <header>
    <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/"><img id="logo" src="imagenes/logo.png" alt="Logo instituto"></a>
    <h1 id="titulo">COMPETICION DEPORTIVA</h1>
    <div id="botones">
      <button onclick="location.href='index.html'">Inicio</button>
      <button onclick="history.back()">Atrás</button>
    </div>
  </header>

  <div id="contenido">
    <div class="tarjeta">
     <button class="boton-tarjeta" th:onclick="'location.href=\'' + @{/participantes} + '\''">Participantes</button>
    </div>

    <div class="tarjeta">
      <button class="boton-tarjeta" onclick="location.href='pruebas'">Pruebas</button>
    </div>

    <div class="tarjeta">
      <button class="boton-tarjeta" onclick="location.href='resultados'">Resultados</button>
    </div>

    <div class="tarjeta" style="width: 500px; height: 430px; flex-direction: column; text-align: center;">
      <h3 style="color: #1693a5; font-size: 20px; margin-bottom: 10px;">Tablón de Anuncios</h3>
      <div style="background-color: rgba(255, 255, 255, 0.5); padding: 20px; border-radius: 10px; color: #333;">
     
      </div>
    </div>
  </div>
</body>
</html>