<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <header>
      <img id="logo" src="imagenes/logo.png" alt="Logo">
      <h1 id="titulo">MODIFICAR PARTICIPANTES</h1>
      <div id="botones">
        <a href="./index principal.html"><button>Inicio</button></a>
        <button onclick="window.history.back()">Atrás</button>
      </div>
    </header>

    <div id="contenido">
      <div id="formulario">
        <div style="display: flex; justify-content: space-around;">
          <div>
            <h2>Individual</h2>
            <select >

            </select>
          </div>
          <div>
            <h2>Grupo</h2>
            <select >
              
            </select>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
""