<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title id="titulo">PARTICIPANTES</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/"><img id="logo" src="logo.png" alt="Logo instituto"></a>
    <h1 id="titulo">PARTICIPANTES</h1>
    <div id="botones">
      <a href="./index principal.html"><button>Inicio</button></a>
      <button onclick="window.history.back()">Atrás</button>
    </div>
  </header>

  <div id="contenido">
    <div class="tarjeta">
      <button  class="boton-tarjeta" onclick="location.href='altaparticipantes.individual.html'">Alta participante</button>
    </div>
    <div class="tarjeta">
      <button class="boton-tarjeta" onclick="location.href='busquedaparticipante.html'" >Buscar participante</button>
    </div>
    <div class="tarjeta">
      <button class="boton-tarjeta" onclick="location.href='muestraparticipantes.html'" >Ver participantes</button>
    </div>
  </div>

</body>
</html>
